/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@600;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-hue: 258;
  --second-hue: 225;
  --first-color: hsl(var(--first-hue), 54%, 48%);
  --title-color: hsl(var(--second-hue), 64%, 18%);
  --text-color: hsl(var(--first-hue), 8%, 35%);
  --border-color: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--first-hue), 60%, 98%);
  --container-color: #fff;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 700;
  --font-semibold: 600;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: Averia serif Libre ;
    text-transform: capitalize;
}
body{
        background: var(--body-color);
        color: var(--text-color);
        font-size: .938rem;
}

h1, h2, h3{
        color: var(--title-color);
}
p{
        line-height: 1.6rem;
        text-align: justify;
}
img{
        max-width: 100%;
        height: auto;
        border-radius: .75rem;
}
.container{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
}
.section {
        padding: 8rem 0 2rem;
}
.section__subtitle,
.section__title {
    text-align: center;
}
.section__title {
        font-size: 1.5rem;
        color: var(--first-color);
        margin-bottom: 3rem;
}
.section__subtitle {
        display: block;
}
/*=============== HEADER & NAV===============*/
.header{
        width: 100%;
        background: var(--container-color);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        font-size: .938rem;
}
.nav{
        height: 5.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .4s;
}
.nav__logo{
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: var(--title-color);
}
.nav__menu ul  {
        display: flex;
        column-gap:2rem ;
}
.nav__menu ul li a {
        position: relative;
        color: var(--title-color);
        font-weight:var(--font-medium) ;
        transition: all .4s;
}
.nav__menu ul li a:hover{
        color: var(--first-color);
}
.nav__close , 
#menu-btn{
        display: none;
        color: var(--title-color);
        font-size: 1.25rem;
        cursor: pointer;
}
.nav__menu ul li a:hover::before,
.nav__menu ul li a::before{
        position: absolute;
        content: '';
        bottom: -.5rem;
        left: 0;
        width: 0px;
        height: 2px;
        background: var(--first-color);
        border-radius: 50%;
        transition: all 300ms ease ;
}
.nav__menu ul li a:hover::before,
.nav__menu ul li .active_link:nth-child(1)::before {
        width: 30px;
}
.nav__menu ul li .active_link{
        color: var(--first-color);
}
/* Change background header */
.scroll-header{
    box-shadow: 0 1px 4px hsla(0, 0%, 15%, .1);
    background: var(--text-color);
}
.scroll-header .nav{
    height: var(--header-height);
}
.scroll-header  .nav__menu ul li a {
    position: relative;
    color: var(--body-color);
    font-weight:var(--font-medium) ;
    transition: all .4s;
}
.scroll-header .nav__logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--body-color);
}
/*=============== HOME ===============*/
.home{
    padding: 12.5rem 0 2rem;
}
.home__container{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.home-subtitle,
.home-title {
    font-size: 2.75rem;
    line-height: 68px;
    font-weight: var(--font-light);
}
.home-data{
    width: 100%;
}
.home-subtitle{
margin-bottom: .75rem;
}
.home-title{
    margin-bottom: 2rem;
}
.home-title span {
    font-weight: var(--font-medium);
}
.home-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}
.home-buttons span {
    color: var(--first-color);
    font-size:2.25rem ;
    font-weight: var(--font-medium);
}
.home-buttons span:nth-child(2){
    opacity: .7;
}
.home-buttons span:nth-child(3){
    opacity: .4;
}
.home-images{
    display: grid;
    grid-template-columns: 4fr 8fr;
    width: 100%;
    column-gap: 1.875rem;
    /* display: flex; */
    /* flex: 0 1 1; */
}
.home__group{
    display: flex;
    margin-top: 2rem;
    /* grid-template-columns: 10fr 2fr; */
    justify-content: space-between;
    column-gap: 1.875rem;
}
.home__details{
    width: 80%;
}
.home__group .img{
    width: 20%;
}
.home__description{
    font-size: 1.5rem;
    line-height: 36px;
    margin-bottom: 2.5rem;
}
.home__description span {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.home__socials{
    display: flex;
    align-items: center;
}
.home__social-follow{
    color: var(--title-color);
    font-size: 17px;
    font-weight: var(--font-medium);
    padding-right: 8.75rem;
    position: relative;
}
.home__social-follow::after{
    content: '';
    position: absolute;
    right: 1rem;
    top: 58%;
    width: 100px;
    height: 2px;
    background: hsla(var(--second-hue), 64%, 18%, 15);
    margin: -1px;
}
.home__social-link{
    display: inline-flex;
    column-gap: .5rem;
}
.home__social-links{
    display: inline-flex;
    align-items: center;
    padding: 1rem .875rem .875rem 1rem;
    border-radius: .75rem;
    border: 1px solid hsla(var(--second-hue), 64%, 18%, 15);
   background: var(--container-color);
}
.home__social-links i {
    font-size: 1.5rem;
    text-align: center;
}
.home__social-links span{
    display: inline-block;
    font-weight: var(--font-medium);
    white-space: nowrap;
    line-height: 14px;
    max-width: 0;
    transform: translateX(1rem);
    overflow: hidden;
    transition: all 1.2s ease;
}
.home__social-links span::after{
    content: '';
    margin-right: 1rem;
}
.home__social-links:hover i,
.home__social-links:hover span {
    color: var(--first-color);
}
.home__social-links:hover span{
    max-width: 400px;
}
.experienes{
    width: 160px;
    justify-self: flex-end;
}
/*=============== ABOUT ===============*/
.about__container{
    display: flex;
    justify-content: space-between;
    column-gap: 1.875rem;
}
.about__img {
    justify-self: center;
}
.about__subtitle,
.about__tittle {
    text-align: left;
}
.about__tittle {
    margin-bottom: 2rem;
}
.about__description{
    color: var(--title-color);
    font-size: 17px;
    font-weight: var(--font-medium);
    margin-bottom: 1.5rem;
}
.about__details{
    margin-bottom: 2.5rem;
}
.about__award{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
}
.award__title{
    font-size: 17px;
    font-weight: var(--font-medium);
    margin-bottom: .5rem;
}
/*=============== SERVICES ===============*/
.services__container{
    /* column-gap: 6rem; */
    display: flex;
    justify-content: space-between;
}
.services__tab {
    width: 40%;
}
.services__content{
    width: 60%;
}
.services__button{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    line-height: 30px;
    cursor: pointer;
    padding-right: 1.25rem;
    transition: 1.2s;
}
.services__tab div:not(:last-child){
    margin-bottom: 1rem;
}
.services__button::before {
    content: '';
    position: absolute;
    width:0px;
    height: 2px;
    left: 100%;
    top: 50%;
    background: var(--first-color);
    transition: 1.2s;
}
.servics__active::before {
    width: 100px;
}
.services__button:hover::before {
    width: 100px;
}
.services__active ,
.services__button:hover {
    color: var(--first-color);
}
.services__item{
    display: flex;
    column-gap: 1.875rem;
}
.services [data-content]{
    display: none;
}
.servics__active[data-content]{
    display: block;
}
.services__item img {
    width: 40%;
}
.services__title {
    padding-top: .24rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: 1.6rem;
    text-align: justify;
}
/*=============== WORK ===============*/
.work__container{
    column-count: 4;
    column-gap: 1.875rem;
}
.work__content{
    position: relative;
    margin-bottom: 1.5rem;
}
.work__content:hover {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 1);
}
.work__overlay{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .4s;
}
.work__content:hover .work__overlay{
    opacity: 1;
    border: radius 0.75em;;
}
.work__overlay-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    transition: .4s;
}
/*=============== PROJECT ===============*/
.project {
    padding:6.25rem;
    background-image:url(/images/background-cta.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 85.16688px;

}
.project__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.project__title{
    font-size: 2rem;
    margin-bottom: .25rem;
    text-align: center;
}
.button{
    display: inline-block;
    background: var(--first-color);
    color: var(--container-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: all.4s;
}
.button:hover{
    background: var(--title-color);
}
.project__description {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
/*=============== EXPERIENCE ===============*/
.qualification__container {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}
.timeline__item{
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;
}
.timeline__item:last-child{
    margin-bottom: 0;
}
.timeline__text{
    font-size: 1rem;
    line-height: 17px;
}
.timeline__item::before{
    content: '';
    width:2px;
    height: 60%;
    position: absolute;
    left:.489rem;
    top: 0;
    background: var(--first-color);
    transition: .4s;
}
.timeline__item:hover::before{
    height: 100%;
}
.circle__dot{
    width:1rem ;
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    background-color: var(--body-color);
    transform: rotate(134deg);
     transition: 4s;
}
.timeline__item:hover .circle__dot{
    background: var(--first-color);
}
.timeline__title{
    font-size: 1rem;
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}
.timeline__date{
    display: flex;
    align-items: center;
column-gap: .4rem;
font-size: .875rem;
color: var(--first-color);
margin-bottom:.5rem;
}
/*=============== CONTACT ===============*/
.contact__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 4rem;
    padding-bottom: 3rem;
}
.contact__content{
    width: 50%;
}
.contact__form-group {
    /* display: flex;
    flex-direction: column; */
    column-gap: 1.5rem;
}
.contact__form-div {
    position:relative;
    margin-bottom: 2rem;
    height: 4rem;
}
.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(225, 4%, 55%) !important;
    background: none;
    color: var(--text-color);
    border-radius: .75rem;
    padding: 1.5rem;
    z-index: 1;
}
.contact__form-tag{
    position: absolute;
    top:-.75rem;
    left: 1.24rem;
    font-size: .87rem;
    z-index: 10;
    padding: .25rem;
    background: var(--body-color);
}
/* .contact__form-div{
} */
.contact__form-area  {
    height: 10.25rem;
}
.contact__form-area textarea {
resize: none;
}
.contact__info {
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
    width: 50%;
}
.contact__card div {
    display: flex;
    column-gap: .75rem;
    margin-bottom: .5rem;
}
.contact__icon{
    font-size: 1.8rem;
    color: var(--first-color);
    display: inline-block;
    margin-bottom: .25rem;
}
.contact__card-title,
.contact__card-data{
    font-size: .938rem;
}
.contact__card-title{
    padding-top: .16rem;
    font-weight: var(--font-medium);
}
.contact__card-data{
    display: block;
    margin-bottom: .5rem;
}
.footer{
    background: var(--first-color);
}
.footer__container{
    padding: 2rem 0 2rem;
}
.footer__title,
.footer__link {
    color: var(--container-color);
}
.footer__title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.footer__link{
    font-size: 18px;
}
.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;  
     margin-bottom: 2.25rem;
}
.footer__socials{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer__social-links{
    background: var(--body-color);
    color: var(--first-color);
    font-size: 1.25rem;
    padding: .48rem;
    border-radius: .5rem;
    display: inline-flex;
}
.footer__copy{
    display: block;
    text-align: center;
    margin-top: 4.5rem;
    color: var(--container-color);
    font-size: .893rem;
}
/* .......................media queries */
@media screen and (max-width:1208px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
@media screen 
and (min-width:250px)
and (max-width:600px){
    .nav__menu{
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        background:#ffffff;
        width: 22rem;
        height: 100vh;
        /* display: none; */
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        animation: showmenu 400ms ease forwards;
     }
     @keyframes showmenu {
        to{
            left: 0;
        }
     }
     .nav__close {
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        color: var(--color-dark);
        cursor: pointer;
     }
     .show{
        display: block !important;
    }
    .display{
        display: none !important;
    }

     #menu-btn{
        display: block;
        cursor: pointer;
    }
    .nav__menu ul  {
        display: flex;
        row-gap:2rem ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }
    .nav__menu ul li a:hover::before,
    .nav__menu ul li a::before{display: none;}
    .scroll-header  .nav__menu ul li a {
        position: relative;
        color: var(--title-color);
        font-weight:var(--font-medium) ;
        transition: all .4s;
    }
    .home__container{
        flex-direction: column;
        row-gap: 3rem;
        column-gap: 0rem;
    }
    .home-images{
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }
    .home__group{
        flex-direction: column;
        row-gap: 2.5rem;
    }
    .home__img{
        order: 2;
        width: 160px;
    }
    .slide__img{
        width: 225px;
    }
    .home__details{
        width: 100%;
    }
    .home__group .img{
        width: 20%;
    }
    .home__socials {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: flex-start;   
    }
    .home__social-follow{
        color: var(--title-color);
        font-size: 20px;
        font-weight: var(--font-medium);
        padding-right: 0rem;
        position: relative;
    }
    .home__social-follow::after{
        display: none;
    }
    .experienes{
        width: 160px;
        justify-self: flex-start;
    }
    .about__container{
        flex-direction: column;
    }
    .about__award{
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: flex-start;
    }
    .services__container{
        flex-direction: column;
    }
    .services__tab {
        width: 100%;
    }
    .services__content{
        width: 100%;
    }
    .services__item {
        display: flex;
        row-gap: 1.875rem;
        flex-direction: column;

    }
    .services__item img {
         width: 100%;
    }
    .project__title {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }
    .work__container{
        column-count: 2;
        column-gap: 1.875rem;
    }
    .contact__container{
        flex-direction: column-reverse;
        padding-bottom: 3rem;
        row-gap: 2rem;
    }
    .contact__content{
        width: 100%;
    }



}
@media screen 
and (min-width:601px)
and (max-width:900px){
    .nav__menu{
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        background:#ffffff;
        width: 22rem;
        height: 100vh;

        box-shadow: 2rem 0 2rem var(--color-primary-light);
        animation: showmenu 400ms ease forwards;
     }
     @keyframes showmenu {
        to{
            left: 0;
        }
    }
     .nav__close {
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        color: var(--color-dark);
        cursor: pointer;
     }
     .show{
        display: block !important;
    }
    .display{
        display: none !important;
    }

     #menu-btn{
        display: block;
        cursor: pointer;
    }
    .nav__menu ul  {
        display: flex;
        row-gap:2rem ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }
    .nav__menu ul li a:hover::before,
    .nav__menu ul li a::before{display: none;}

    .scroll-header  .nav__menu ul li a {
        position: relative;
        color: var(--title-color);
        font-weight:var(--font-medium) ;
        transition: all .4s;
    }
    
    .home__container{
        flex-direction: column;
        row-gap: 3rem;
        column-gap: 0rem;
    }
    .home-images{
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }
    .home__group{
        flex-direction: column;
        row-gap: 2.5rem;
    }
    .home__img{
        order: 2;
        width: 300px;
    }
    /* .slide__img{
        width: 225px;
    } */
    .home__details{
        width: 100%;
    }
    .home__group .img{
        width: 40%;
    }
    .experienes{
        width: 200px;
        justify-self: flex-start;
    }
    .home__socials {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: flex-start;   
    }
    .home__social-follow{
        color: var(--title-color);
        font-size: 20px;
        font-weight: var(--font-medium);
        padding-right: 0rem;
        position: relative;
    }
    .home__social-follow::after{
        display: none;
    }
    .about__img {
        justify-self: center;
        width: 50%;
    }
    .award__title{
        font-size: 20px;
        font-weight: var(--font-medium);
        margin-bottom: .5rem;
    }
    .about__description{
        color: var(--title-color);
        font-size: 20px;
        font-weight: var(--font-medium);
        margin-bottom: 1.5rem;
    }
    .about__details{
        margin-bottom: 2.5rem;
        font-size: 17px;
    }
    .award__details{
        font-size: 17px;
    }

    .services__container{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .services__tab {
        width: 100%;
    }
    .services__content{
        width: 100%;
    }
    .services__item {
        display: flex;
    }
    .services__item img {
        width: 50%;
    }
    .project__title {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }
    .work__container{
        column-count:3;
        column-gap: 1.875rem;
    }
    .contact__container{
        flex-direction: column-reverse;
        padding-bottom: 3rem;
        row-gap: 2rem;
    }
    .contact__content{
        width: 100%;
    }
    .project__description {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .timeline__text{
        font-size: 1.4rem;
        line-height: 35px;
    }

} 
@media screen 
and (min-width:901px)
and (max-width:1024px){
    .about__img {
        justify-self: center;
        width: 50%;
    }
    .award__title{
        font-size: 20px;
        font-weight: var(--font-medium);
        margin-bottom: .5rem;
    }
    .about__description{
        color: var(--title-color);
        font-size: 20px;
        font-weight: var(--font-medium);
        margin-bottom: 1.5rem;
    }
    .about__details{
        margin-bottom: 2.5rem;
        font-size: 17px;
    }
    .award__details{
        font-size: 17px;
    }
    .services__container{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .services__tab {
        width: 100%;
    }
    .services__content{
        width: 100%;
    }
    .services__item {
        display: flex;
    }
    .services__item img {
        width: 50%;
    }
    .services__data{
        font-size: 20px;
    }
    .project__title {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }
    .project__description {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .timeline__text{
        font-size: 1.4rem;
        line-height: 35px;
    }
    .contact__info {
        display: flex;
        flex-direction: column;
        row-gap: 1.875rem;
        width: 50%;
    }
    .contact__container{
        column-gap: 4rem;
    }
    .work__container{
        column-count:3;
        column-gap: 1.875rem;
    }
    .services__title {
        font-size: 20px;
    }
 
}